.cast {
  padding-bottom: 56px;
}

@media (min-width: 0px) {
  @media (orientation: landscape) {
    .cast {
      padding-bottom: 48px;
    }
  }
}

@media (min-width: 600px) {
  .cast {
    padding-bottom: 64px;
  }
}
